.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}

/* We hide enable notifications buttons by default, and show them using JS in app.js if the Notifications API is supported */
.enable-notifications {
  display: none;
}
